html{
  font-family: 'Nunito', sans-serif;
}

*{
  box-sizing: content-box;
  margin:0;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title__box{
  display:flex;
}
h1{
  color:orange;
  font-size: 1rem;
}
.section__subtitle{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
@media (min-width: 769px) {
  .section__subtitle{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
  }
}

h2{
  font-size: 2rem;
}

.section__subtitle__button{
  background-color: orange;
  padding:10px;
  border-top-left-radius: 0%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius:25%;
  margin-top: 1rem;
}

.section__imgbox{
display:flex;
flex-direction: column;
width:70vw;
margin-top: 2rem;
}

.section__imgbox__article{
  width: 70%;
}

.section__imgbox__article1{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color:white;
  width:100%;
  height: 200px;
  margin:5px;
  background-position: center;
  background-size:cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(/images/01.jpg);
}

.section__imgbox__article2{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color:white;
  width:100%;
  height: 200px;
  margin:5px;
  background-position: center;
  background-size:cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(/images/02.jpg);
}

.section__imgbox__article3{
  display:flex;
  justify-content: flex-end;
  align-items:center;
  flex-direction: column;
  color:white;
  width:100%;
  height: 200px;
  margin:5px;
  background-position: center;
  background-size:cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(/images/03.jpg);
}
